# User guide (WIP)
## Step 1: Migrate official CSV databases
If you have not yet downloaded official TERYT databases, visit [this TERYT website](
https://eteryt.stat.gov.pl/eTeryt/rejestr_teryt/udostepnianie_danych/baza_teryt/uzytkownicy_indywidualni/pobieranie/pliki_pelne.aspx?contrast=default) and download SIMC, TERC and ULIC databases in `.csv` format.

Warning: Only `.csv` extensions and official (neither address nor statistical) versions are supported.

Now, place SIMC database file in `teryt/data/SIMC`, and so on with other systems.
Make sure there's only one file in every `teryt/data/<SYSTEM>` directory. 

## Step 2: Initialize TERYT systems
All systems can be initialized as below:

In [1]:
import teryt
simc = teryt.Simc()  # could also be SIMC or simc
terc = teryt.TERC()
ulic = teryt.ulic()

## Step 3: Usage!

### Searching system entries
To search for entries, simply use system's `System.search` method.
For example:

In [2]:
terc.search("Warszawa")

,index,WOJ,POW,GMI,RODZ,NAZWA,NAZWA_DOD,STAN_NA
0,2057,14,65,-,-,Warszawa,"miasto stołeczne, na prawach powiatu",2021-01-01
1,2058,14,65,01,1,Warszawa,"gmina miejska, miasto stołeczne",2021-01-01

### Search keywords
`System.search` accepts plenty of keyword arguments for searching,
called **fields**,  which are the source database's columns (called **roots**) representants.

#### `ULIC` secname (`str`)
Second name of a street.

Example:

In [3]:
k = ulic.search(secname="Księcia")
k

,index,WOJ,POW,GMI,RODZ_GMI,SYM,SYM_UL,CECHA,NAZWA_1,NAZWA_2,STAN_NA
0,429,02,14,08,4,0987390,24145,ul.,Henryka Wiernego,Księcia,2021-02-05
1,3235,02,03,01,1,0954082,36208,ul.,Jana II,Księcia,2021-02-05
2,4199,02,64,06,9,0986952,10230,ul.,Witolda,Księcia,2021-02-05
3,5628,06,61,01,1,0922018,10230,ul.,Witolda,Księcia,2021-02-05
4,7603,04,61,01,1,0928363,10230,ul.,Witolda,Księcia,2021-02-05
...,...,...,...,...,...,...,...,...,...,...,...
124,253965,14,61,01,1,0966079,51258,rondo,Siemowita III,Księcia,2021-02-05
125,260928,14,18,04,4,0921438,52928,ul.,Janusza I Starego,Księcia,2021-02-05
126,266940,24,64,01,1,0930868,38139,ul.,Leszka Białego,Księcia,2021-02-05
127,268012,20,62,01,1,0957241,39268,ul.,Stanisława,Księcia,2021-02-05
128,280240,04,08,04,4,0985651,53409,ul.,Siemowita,księcia,2021-02-05

In [4]:
i1 = k[1]  # index 3235
i1

Street(
    name='Jana II',
    secname='Księcia',
    terid='0203011',
    system=ULIC,
    voivodship=UnitLink(code='02', value='DOLNOŚLĄSKIE', index=0),
    powiat=UnitLink(code='03', value='głogowski', index=22),
    gmina=UnitLink(code='01', value='Głogów', index=23),
    gmitype=SMLink(code='1', value='gmina miejska'),
    streettype='ul.',
    id='36208',
    integral_id='0954082',
    date='2021-02-05',
    index=3235
)

In [5]:
i1.fullname

'ul. Księcia Jana II'

In [6]:
i1.gmina

UnitLink(code='01', value='Głogów', index=23)

In [7]:
i1.gmina.as_unit

Unit(
    name='Głogów',
    terid='0203011',
    system=TERC,
    voivodship=UnitLink(code='02', value='DOLNOŚLĄSKIE', index=0),
    powiat=UnitLink(code='03', value='głogowski', index=22),
    gmina=UnitLink(code='01', value='Głogów', index=23),
    gmitype=SMLink(code='1', value='gmina miejska'),
    function='gmina miejska',
    date='2021-01-01',
    index=23
)

In [8]:
i1.gmina.as_unit.powiat.as_unit

Unit(
    name='głogowski',
    terid='0203',
    system=TERC,
    voivodship=UnitLink(code='02', value='DOLNOŚLĄSKIE', index=0),
    powiat=UnitLink(code='03', value='głogowski', index=22),
    function='powiat',
    date='2021-01-01',
    index=22
)

#### `COMMON` date (`str`)
"State as of", the date in `STAN_NA` column.

#### `COMMON` name (`str`)
Name of the searched locality, street or unit.

Examples:

In [9]:
simc.search(name="Oś")  # the shortest locality name in Poland

Locality(
    name='Oś',
    terid='1604032',
    system=SIMC,
    voivodship=UnitLink(code='16', value='OPOLSKIE', index=2077),
    powiat=UnitLink(code='04', value='kluczborski', index=2107),
    gmina=UnitLink(code='03', value='Lasowice Wielkie', index=2114),
    gmitype=SMLink(code='2', value='gmina wiejska'),
    loctype=SMLink(code='01', value='wieś'),
    cnowner=SMLink(code='1', value=True),
    id='0497791',
    integral_id='0497791',
    date='2021-01-01',
    index=56979
)

You can also use "match", "contains", "startswith" and "endswith" name searching:

In [10]:
simc.search(match=".{32}")  # the longest locality name in Poland

Locality(
    name='Wólka Sokołowska k. Wólki Niedźwiedzkiej',
    terid='1816115',
    system=SIMC,
    voivodship=UnitLink(code='18', value='PODKARPACKIE', index=2227),
    powiat=UnitLink(code='16', value='rzeszowski', index=2407),
    gmina=UnitLink(code='11', value='Sokołów Małopolski', index=2424),
    gmitype=SMLink(code='5', value='obszar wiejski w gminie miejsko-wiejskiej'),
    loctype=SMLink(code='01', value='wieś'),
    cnowner=SMLink(code='1', value=True),
    id='1066490',
    integral_id='1066490',
    date='2021-01-01',
    index=58704
)

In [11]:
simc.search(startswith="pyt")

   index WOJ POW GMI RODZ_GMI  RM MZ     NAZWA      SYM   SYMPOD     STAN_NA
0  19828  10  12  05        5  01  1  Pytowice  0541256  0541256  2021-01-01
1  29789  12  18  02        2  00  1  Pytlówka  0047600  0047579  2021-01-01
2  34448  12  10  09        2  00  1     Pytle  0443890  0443476  2021-01-01
3  35199  12  11  11        2  00  1  Pytlówka  0462491  0462249  2021-01-01
4  35483  12  11  05        2  00  1   Pytlowa  0429772  0429602  2021-01-01
5  35721  12  09  02        2  00  1   Pytlowa  0441141  0441030  2021-01-01
6  78045  24  02  08        2  03  1  Pytlówka  0065175  0064773  2021-01-01
7  84309  26  01  02        2  00  1  Pytlówka  0238285  0238279  2021-01-01

#### `SIMC` loctype (`str`)
Locality type.

In [12]:
from teryt.data import implement
implement.SIMC.loctype_link_mgr

{'miasto': '96',
 'delegatura': '98',
 'dzielnica m. st. Warszawy': '95',
 'część miasta': '99',
 'wieś': '01',
 'przysiółek': '03',
 'kolonia': '02',
 'osada': '04',
 'osada leśna': '05',
 'osiedle': '06',
 'schronisko turystyczne': '07',
 'część miejscowości': '00'}

In [13]:
simc.search(loctype="schronisko turystyczne")

Empty DataFrame
Columns: []
Index: []

In [14]:
simc.search(loctype="07", woj="12")

,index,WOJ,POW,GMI,RODZ_GMI,RM,MZ,NAZWA,SYM,SYMPOD,STAN_NA
0,39446,12,15,08,2,07,1,Markowe Szczawiny,0078114,0078114,2021-01-01
1,39450,12,17,03,2,07,1,Dolina Pięciu Stawów,0418410,0418410,2021-01-01
2,39451,12,17,03,2,07,1,Morskie Oko,0418432,0418432,2021-01-01
3,39452,12,17,03,2,07,1,Polana-Głodówka,0418449,0418449,2021-01-01
4,39453,12,17,03,2,07,1,Roztoka,0418455,0418455,2021-01-01
5,39454,12,17,03,2,07,1,Włosienica,0418478,0418478,2021-01-01
6,39455,12,15,04,2,07,1,Krupowa Hala,0419704,0419704,2021-01-01
7,39456,12,10,08,2,07,1,Łabowiec,0442873,0442873,2021-01-01
8,39457,12,11,09,2,07,1,Turbacz,0457432,0457432,2021-01-01
9,39458,12,17,04,2,07,1,Hala Pisana,0468648,0468648,2021-01-01
10,39459,12,17,04,2,07,1,Ornak,0468654,0468654,2021-01-01
11,39460,12,17,04,2,07,1,Dolina Chochołowska,0468915,0468915,2021-01-01

#### `COMMON` gmina (`str`)
Gmina of the searched locality, street or unit.

#### `COMMON` voivodship (`str`)
Voivodship of the searched locality, street or unit.

#### `TERC` function (`str`)
Unit function.

#### `ULIC` streettype (`str`)
Street type.

#### `COMMON` powiat (`str`)
Voivodship of the searched locality, street or unit.

#### `SIMC` cnowner (`bool`)
States whether a locality owns a common name.
As of 09.02, all Polish localities are "cnowners". Using this keyword 
may result in a kind warning of no uniqueness.

#### `SIMC, ULIC` id (`str`)
ID of a locality or street.

#### `SIMC, ULIC` integral_id (`str`)
Integral ID of a locality/street.

**Noteworthy**: all entries with `integral_id` also have property method called `integral`, which returns an `Entry` object of integral locality of locality/street.

In [15]:
mpwwa = simc.search("Warszawa")[1]
mpwwa

Locality(
    name='Warszawa',
    terid='1212075',
    system=SIMC,
    voivodship=UnitLink(code='12', value='MAŁOPOLSKIE', index=1283),
    powiat=UnitLink(code='12', value='olkuski', index=1460),
    gmina=UnitLink(code='07', value='Wolbrom', index=1468),
    gmitype=SMLink(code='5', value='obszar wiejski w gminie miejsko-wiejskiej'),
    loctype=SMLink(code='00', value='część miejscowości'),
    cnowner=SMLink(code='1', value=True),
    id='0224662',
    integral_id='0224573',
    date='2021-01-01',
    index=37630
)

In [16]:
mpwwa.integral

AttributeError: 'DataFrame' object has no attribute 'id'

#### `COMMON` gmitype (`str`)
Gmina type of the searched locality, street or unit.

Column names as the above listed arguments are also acceptable.
It means that you can pass database's columns names 
(called **root names**) instead of passing the field name.
Fields were involved in order to unify columns of the systems' databases.

### Search results
Result of a search returned by `System.search` is not in fact a `DataFrame` object.
It's `Entry` or `EntryGroup`, synced with the proper fields.

That's what you can do with them:

In [17]:
results = terc.search("Wrocław")
type(results)  # let's check it's type

teryt.core.EntryGroup

In [18]:
results

   index WOJ POW GMI RODZ    NAZWA                  NAZWA_DOD     STAN_NA
0    310  02  64   -    -  Wrocław  miasto na prawach powiatu  2021-01-01
1    311  02  64  01    1  Wrocław              gmina miejska  2021-01-01